/*
 * Copyright (c) 2025 Sergey Golovin <golovinengineer@icloud.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		dht0 = &aht20;
	};
};

 &i2c1 {
	status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

	aht20: aht20@38 {
		compatible = "aosong,aht20";
		reg = <0x38>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};
