CompileFlags:
  CompilationDatabase: build

  # Additional include paths specific to Zephyr RTOS (replace <path-to-zephyr-root> with your actual path)
  Add:
    - -Wno-unknown-warning-option
    - -Wno-format
    - -I../zephyr/include
    - -I../zephyr/arch/arm/include
    - -I../zephyr/soc/arm/common/include
    - -D__ZEPHYR__
  Remove: [-m*, -f*]

Index:
  # Enable background indexing
  Background: On

# Completion:
  # Enable inline argument placeholders in auto-complete suggestions
  # InlayHints:
    # Enable: yes
    # ParameterNames: yes
    # DeducedTypes: yes

Diagnostics:
  # Enable warnings for unused includes
  UnusedIncludes: Strict

  # Enable Clang-Tidy checks (you can customize the checks as needed)
  ClangTidy:
    # FastCheckFilter: None
    Add:
      - modernize-*
      # - readability-*
      - bugprone-*
      - performance-* # Enable specific check categories

    Remove:
      - clang-analyzer-alpha.*        # Disable alpha checks from Clang static analyzer
      - cppcoreguidelines-avoid-magic-numbers
      - readability-identifier-length
      - readability-magic-numbers
      - hicpp-*
      - performance-no-int-to-ptr
      - bugprone-easily-swappable-parameters
      - bugprone-branch-clone
